<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        {% if request.path=='/admin' %}

            {% if request.method=='GET' %}
                <form method="post">
                    <a href="/admin/currentorders" style="my-link">Orders</a>
                    <a href="/admin/Menu" style="my-link">Menu</a>
                    <a href="/admin/cat" style="my-link" >Category</a>
                </form>
            {% endif %}

        {% endif %}
        {% if request.path =='/admin/Menu' %}

            {% if request.method=='GET' %}

                {% for Dish in Dishs %}
                    {{Dish.Dish_Name}}|{{Dish.Price}}
                {% endfor %}

                <form method="post">
                    <button type="submit">Add</button>
                </form>

            {% endif %}

            {% if request.method=='POST' %}
                <form method="post">
                    <input type="text" name="Dish_name" placeholder="Dish_name">
                    <input type="text" name="Dish_price" placeholder="Dish_price">
                    <button type="submit">Add</button>

                </form>
            {% endif %}

        {% endif %}
        {% if request.path =='/admin/cat' %}
            {% if request.method=='GET' %}

                {% for Cat in Category %}
                    {{Cat.Category_name}}
                {% endfor %}

                <form method="post">
                    <button type="submit">Add</button>
                </form>

            {% endif %}
             {% if request.method=='POST' %}
                <form method="post">
                    <input type="text" name="Category_name" placeholder="Category_name">
                    <button type="submit">Add</button>
                </form>
            {% endif %}
        {% endif %}
        {% if request.path =='/admin/currentorders' %}
            {% if request.method=='GET' %}

                {% for Dish in Dishs %}
                    {{Dish.Dish_Name}}|{{Dish.Price}}
                {% endfor %}
            {% endif %}
        {% endif %}
        <a href="/">Return to home</a>
    {% endblock %}
</body>
</html>