<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.path=='/cart' %}
{% if request.method=='GET' %}

{% for Cart in Carts %}
{{Cart.Dish_name}}|{{Cart.Dish_price}}|{{status.Status_name}}
{% endfor %}


<form method="post">
    <a href="/admin/currentorders" style="my-link">Orders</a>
    <a href="/cart/cartadd" style="my-link">Add dish in cart </a>
    <a href="/cart/delete" style="my-link">delete dish with cart </a>
    <a href="/" style="my-link">Return to home</a>

</form>


    {% endif %}

    {% endif %}
    {% if request.path =='/cart/cartadd' %}

    {% if request.method=='GET' %}
    {% for Dish in Dishes%}
    {{Dish.Dish_name}}
    {% endfor %}
    <form method="post">
        <input type="text" name="Dish_name" placeholder="Dish_name">
        <button type="submit">Add</button>
    </form>

    {% endif %}
    {% endif %}
    {% if request.path =='/cart/delete' %}
    {% if request.method=='GET' %}
    {% for Dish in Dishes%}
    {{Dish.Dish_name}}
    {% endfor %}
    <form method="post">
        <input type="text" name="Dish_name" placeholder="Dish_name">
        <button type="submit">Add</button>
    </form>

    {% endif %}
    {% endif %}


</body>
</html>